
.ChooserWindow > .Content {
	position: relative;
}

.ChooserWindow > .TitleBar > .Title {
	text-align: center;
}

.ChooserWindow li {
	padding: 3px;
	margin-top: 2px;
	list-style: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-bottom: 1px solid #CCCCCC;
}

.ChooserWindow li * {
	cursor: pointer;
}

.ChooserWindow li:hover {
	background-color: #EEEEEE;
}

.ChooserWindow li .Icon {
	float: left;
	height: 32px;
	width: 32px;
	margin-left: 5px;
}


.ChooserWindow > .Content > p {
	margin: 5px;
	line-height: 20px;
}


.ChooserWindow > .Content > label {
	line-height: 20px;
	margin: 5px;
	display: block;
}

.ChooserWindow input[type=checkbox] {
	float: left;
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	margin-top: 2px;
}

