
.ItemWindow .Column > .Preview {
	width: 90%;
	height: auto;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.ItemWindow .Column > .Preview img {
	max-width: 115px;
}

.ItemWindow .Column {
	position: absolute;
}

.ItemWindow .ColumnContainer {
	position: absolute;
	top: 32px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.ItemWindow .Left.Column {
	width: 120px;
	top: 5px;
	left: 5px;
	bottom: 5px;
}

.ItemWindow .Left.Column .ItemContainer {
	overflow: hidden;
}

.ItemWindow .Left.Column .Item {
	width: 500px;
}

.ItemWindow .Left.Column .Item .Content:hover .Shadow {
	display: block;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

.ItemWindow .Left.Column .Item .Name {
	font-size: 10px;
}

.ItemWindow .Left.Column .Item .Content div + div + div + div {
	display: none;
}

.ItemWindow .Left.Column > div + h3 {
	margin-top: 7px;
}

.ItemWindow .Middle.Column {
	right: 140px;
	top: 0px;
	left: 130px;
	bottom: 5px;
	background-color: white;
	border: 1px solid #CCCCCC;
}

.ItemWindow .Middle.Column > .Scrollable,
.ItemWindow .Middle.Column > .Scrollable > .ItemContainer {
	position: absolute;
	top: 0px;
	min-height: 100%;
	left: 0px;
	right: 0px;
}

.ItemWindow .Right.Column {
	width: 130px;
	top: 5px;
	right: 5px;
	bottom: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}

.ItemWindow .Right.Column .Ellipsis {
	display: none;
}



.ItemWindow .Column > dl {
	width: 90%;
	margin: auto;
}

.ItemWindow .Column > dl > dt {
	color: #777777;
	float: left;
	clear: both;
	margin-right: 2px;
	margin-top: 3px;
}

.ItemWindow .Column > dl > dd {
	float: left;
	margin-top: 3px;
	max-width: 95%;
}

.ItemWindow .Column .Attributes span {
	position: absolute;
}

.ItemWindow .Column .Attributes span.I18n,
.ItemWindow .Column .Attributes span.Extra {
	position: relative;
}
