
.PublishWindow > .Content {
	position: relative;
}

.PublishWindow .PublishOptions {
	float: left;
	margin: 10px;
	margin-left: 20px;
}

.PublishWindow .ItemContainer {
	float: right;
	margin: 10px;
	background-color: white;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 5px;
}

.PublishWindow input[type=text],
.PublishWindow input[type=password] {
	width: 155px;
}

.PublishWindow input[type=checkbox] {
	float: left;
	margin-right: 5px;
}

.PublishWindow dl {
	margin-top: 10px;
}

.PublishWindow dd {
	margin-top: 3px;
}

.PublishWindow dt {
	margin-top: 5px;
}

.PublishWindow .Buttons {
	clear: both;
	border-top: 1px solid #CCCCCC;
	margin: 5px;
	padding-top: 5px;
	margin-top: 10px;
}

.PublishWindow input[type=submit] {
	float: right;
}

.PublishWindow .SubWindow p {
	text-align: center;
	padding: 5px;
}
