
.WindowContainer {
	position: absolute;
	z-index: 4;
}


.Window {
	position: absolute;
	left: 20px;
	top: 30px;
	width: 520px;
	height: 300px;
}



.Window.Selected {
	background: none;
}

.Window > .Content {
	z-index: 2;
	overflow: hidden;
	background-color: #DDDDDD;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.Window > .Shadow,
.SubWindow > .Shadow {
	background-color: black;
	opacity: 0.2;
	filter: alpha(opacity=20);
	position: absolute;
	left: -10px;
	right: -10px;
	bottom: -10px;
	-moz-box-shadow: 2px 2px 30px black;
	box-shadow: 2px 2px 30px black;
	-webkit-box-shadow: 2px 2px 30px black;
}


.Window > .Shadow {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: -20px;
}

.Window.Selected > .Shadow,
.Window.Selected .SubWindow > .Shadow {
	opacity: 0.9;
	filter: alpha(opacity=90);
	background-color: #3d5f7e;
}

.Window[context=local].Selected > .Shadow,
.Window[context=local].Selected  .SubWindow > .Shadow {
	background-color: #4d8342;
}

.Window[context=local] > .Shadow,
.Window[context=local] .SubWindow > .Shadow {
	background-color: #1a4611
}

.Window > .TitleBar {
	position: absolute;
	top: -20px;
	color: white;
	height: 20px;
	line-height: 20px;
	left: 0px;
	font-weight: bold;
	width: 100%;
	cursor: default;
}

.Window > .TitleBar > .Tools {
	position: absolute;
	top: -1px;
	right: 0px;
}

.Window > .TitleBar > .Tools  span {
	padding-right: 2px;
	padding-left: 2px;
	font-size: 10px;
	color: #EEEEEE;
	cursor: default;
	display: none;
}

.Window > .TitleBar > .Tools  span:hover  {
	color: white;
}

.Window .ToolBar {
	padding: 1px;
	height: 30px;
	border-bottom: 1px solid #CCCCCC;
}

.Window .ToolBar .Button {
	float: left;
	padding: 1px;
	font-size: 10px;
	cursor: pointer;
	text-align: center;
	width: 50px;
}

.Window .ToolBar .Select {
	border-left: 1px solid #CCCCCC;
	float: right;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}


.Window .ToolBar .Button img {
	display: block;
	margin: auto;
	width: 16px;
	height: 16px;
}

.Window .ToolBar .Button * {
	cursor: pointer;
}


.Window .ToolBar .Button.Disabled:hover ,
.Window .ToolBar .Button.Disabled:hover * {
	cursor: default;
}


.Window .Column h3 {
	border-bottom: 1px solid #CCCCCC;
	margin: 2px;
	clear: both;
}

.Window.Maximized {
	left: 0px;
	right: 0px;
	top: 20px;
	bottom: 0px;
	width: auto;
	height: auto;
}

.Window.Maximized > .ui-resizable-handle,
.Window.Reduced > .ui-resizable-handle {
	display: none;
}

.Window > .ui-resizable-e {
	z-index: 2;
	width: 10px;
	right: -10px;
	position: absolute;
	cursor: e-resize;
	top: 0px;
	bottom: 0px;
}

.Window > .ui-resizable-se {
	z-index: 2;
	width: 10px;
	height: 10px;
	bottom: -10px;
	right: -10px;
	position: absolute;
	cursor: se-resize;
}

.Window > .ui-resizable-s {
	z-index: 2;
	height: 10px;
	bottom: -10px;
	position: absolute;
	cursor: s-resize;
	left: 0px;
	right: 0px;
}


/* Sub Windows */
.SubWindow {
	position: absolute;
	width: 90%;
	top: 100%;
	left: 5%;
	margin-top: 10px;
	display: none;
}

.SubWindow > .Content {
	background-color: #DDDDDD;
	overflow: auto;
	position: relative;
}

.SubWindow > .Shadow {
	top: 0px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}


.SubWindow > .Content h5 {
	margin: 5px;
	font-weight: bold;
}

.SubWindow > .Content > div {
	padding: 5px;
}

.SubWindow > .Content .Path {
	font-weight: normal;
}

