
.ContextMenu {
	position: absolute;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	list-style: none;
	z-index: 100;
	font-size: 14px;
	box-shadow: 2px 2px 5px black;
	-moz-box-shadow: 2px 2px 5px black;
	-webkit-box-shadow: 2px 2px 5px black;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', direction=135, strength=2);
}

.ContextMenu li {
	padding: 3px 20px 3px 20px;
}

.ContextMenu li.Hover {
	background-color: #3967a2;
	color: white;
}

.ContextMenu .Separator {
	border-bottom: 1px solid #CCCCCC;
	padding: 0px;
	margin: 1px 5px 1px 5px;
}
