
.Item .Content .Name > .Extra {
	display: inline;
}


.Item .Content .Name > .Ellipsis {
	display: none;
}

.Item .Content .Name span {
	position: absolute;
}


.Item[pid] {
	opacity: 0.5;
	filter:alpha(opacity=50);
}


.ItemContainer > .Item .Content .Shadow {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: none;
	margin: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #EFEFEF;
}

.Item .Content > .Shadow {
	z-index: auto;
}

.Item .Content > * {
	position: relative;
	z-index: 1;
}

/** Icon view **/

.IconView > .Item {
	float: left;
	width: 100px;
	height: 60px;
	margin-top: 9px;
}

.IconView > .Item .Icon {
	position: relative;
	text-align: center;
	display: table-cell;
	vertical-align: bottom;
	width: 100px;
	padding-left: 3px;
}

.IconView > .Item .Content .Name {
	text-align: center;
	display: block;
	word-wrap: break-word;
	position: relative;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
}

.IconView > .Item .Name textarea,
.ThumbView > .Item .Name textarea {
	width: 88px;
	height: 10px;
	border: 1px solid #CCCCCC;
	text-align: center;
	overflow: hidden;
}


.IconView > .Item .Content > div {
	display: none;
}

.IconView > .Item .Content > .Icon {
	display: block;
	height: 30px;
	padding-top: 2px;
}


.IconView > .Item .Content .Name > .Extra {
	display: none;
	position: relative;
	
}

.IconView > .Item .Content .Name > .Ellipsis {
	display: inline;
	position: relative;
	
}

.IconView > .Item.Focus .Content .Name > .Extra {
	display: inline;
	
}

.IconView > .Item.Focus .Content .Name > .Ellipsis {
	display: none;
	
}


.ItemContainer > .Item.Selected .Content,
.ItemContainer > .Item.ui-selecting .Content {
	
}

.ItemContainer > .Selectable.Item .Content:hover .Shadow {
	display: block;
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.ui-draggable-helper.Copying .Icon {
	background: url(../images/copy.png) 100% 100% no-repeat;
}

.ItemContainer > .Item.Selected, .ItemContainer > .Item.ui-selecting,
.Window .ItemContainer.Selected > .Item.Selected, .Window .ItemContainer.Selected > .Item.ui-selecting {
	color: white;
}

.Window .ItemContainer > .Item.Selected, .Window .ItemContainer > .Item.ui-selecting {
	color: black;
}


.ItemContainer .Item.Selected,
.ItemContainer .Item.ui-selecting {
	z-index: 3;
}

.ItemContainer.IconView > .Item .Icon > div {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100px;
	padding: 1px;
}

.ItemContainer > .Item .Icon > div > div {
	margin: auto;
	display: block;
	text-align: center;
}


/** List view **/

.ListView > .Item {
	clear: both;
}

.ListView > .Item .Content {
	height: 18px;
}

.ListView > .Item .Content > div {
	float: left;
	line-height: 16px;
	margin-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.ListView > .Item .Content .Name > input {
	border: 1px solid #CCCCCC;
}


/** Desktop item **/

body > .ItemContainer > .Item .Content .Shadow {
	border: 1px solid #c1d0f8;
}


body > .ItemContainer > .Item.Selected .Content .Shadow, 
body > .ItemContainer > .Item.ui-selecting  .Content .Shadow {
	filter: alpha(opacity=20);
	opacity: 0.2;
	background-color: #EFEFEF;
}

.ItemContainer > .Item.Selected .Content .Shadow, 
.ItemContainer > .Item.ui-selecting  .Content .Shadow {
	display: block;
	opacity: 1;
	filter: none;
}

.ItemContainer.Selected > .Item.Selected .Content .Shadow, 
.ItemContainer.Selected > .Item.ui-selecting .Content .Shadow,
body > .ItemContainer > .Item.Selected.ui-draggable-dragging > .Content > .Shadow { 
	background-color: #97B0EF;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.ItemContainer > .Item {
	border: 1px solid transparent;
}

.ItemContainer.IconView > .Item.DroppableItem {
	border-left: 1px solid black;
}

body > .ItemContainer > .Item .Name {
	color: white;
	filter: glow(color=#000000,strength=1);
	text-shadow: 1px 1px 2px black, 0 0 0.2em black, 0 0 0.2em black
}

body > .ItemContainer {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 30px;
	left: 0px;
	overflow: hidden;
}

body > .ItemContainer > .Item {
	float: none;
	position: absolute;
}

body > .ItemContainer.IconView > .Item.DroppableItem,
.ItemContainer.ListView > .Item.DroppableItem
 {
	border-left: 1px solid transparent;
	border-top: 1px solid black;
}

.Window > .Content > .ItemContainer.AcceptingItem {
	background-color: #FBFFDF;
}

.ItemContainer > .Item  > * {
	z-index: 1;
	position: relative;
}

.ListView > .Item .Name + div{
	float: right;
	margin-right: 5px;
}

.Window .ItemContainer > .Item {
	position: relative;
}

.ItemContainer.Thumb.IconView > .Item .Icon {
	height: 70px;
}

.ItemContainer.Thumb.IconView > .Item .Icon > div > div {
	width: 70px;
}

.ItemContainer.Thumb.IconView > .Item img {
	max-height: 64px;
	max-width: 70px;
}

.ItemContainer.Thumb.IconView > .Item {
	height: 95px;
}

.ItemContainer.Thumb.IconView > .Item .Content .Name .Medium {
	display: none;
}


.ItemContainer.ListView > .Item .Icon {
	width: 16px;
	height: 16px;
}

.ItemContainer.ListView > .Item .Icon > div > div {
	width: 16px;
}

.ItemContainer.ListView > .Item img {
	max-height: 16px;
	max-width: 16px;
}

.ItemContainer.IconView > .Item .Icon > div > div {
	max-width: 70px;
}

.ItemContainer.IconView > .Item img {
	max-height: 24px;
	max-width: 70px;
}

.ItemContainer.ListView > .Item > .Unfloat {
	float: none;
	height: auto;
	margin: 0px;
	padding: 0px;
}

.Window .Left.Column .ItemContainer.ListView > .Icon {
	margin-left: 0px;
}

.Window .Left.Column .ItemContainer.IconView > .Icon {
	float: left;
}

