
* {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-family: Tahoma, Verdana;
	cursor: default;
}

body {
	background-color: #1F90CF;
	background-image: url(../images/background.jpg);
	background-size: 150% auto;
	-moz-background-size: 150% auto;
	-o-background-size: 150% auto;
	-webkit-background-size: 150% auto;
	width: 100%;
	position: absolute;
	bottom: 0px;
	top: 0px;
	left: 0px;
	overflow: hidden;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

applet {
	position: absolute;
	visibility: hidden;
	top: -500px;
	left: -500px;
	width: 1px;
	height: 1px;
}

input[type=text], input[type=password], textarea {
	cursor: text;
}

input[type=button], input[type=submit] {
	padding-left: 5px;
	padding-right: 5px;
}

.Unfloat {
	display: block;
	float: none;
	clear: both;
}

.Disabled {
	color: #999999;
}

.Disabled img, .Window.Selected .Disabled img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.Window .Disabled img {
	filter: none;
}

a : {
	cursor: pointer;
}

.Template {
	display: none;
}


.Scrollable {
	overflow: auto;
}


.ui-selectable-helper {
	border: 1px solid #3399ff;
	background-color: #456785;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/* MainBar */

#MainBar {
	background: url(../images/mainbar.png) repeat-x;
	height: 30px;
	bottom: 0px;
	position: absolute;
	left: 0px;
	right: 0px;
}

#MainBar .SearchBox {
	width: 200px;
	margin: auto;
	margin-top: 4px;
	position: relative;
}

#MainBar .SearchBox img {
	position: absolute;
	left: 5px;
	top: 3px;
	width: 16px;
	height: 16px;
}

#MainBar .SearchBox input {
	width: 176px;
	padding: 2px;
	height: 15px;
	padding-left: 22px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#MainBar .SearchBox input:focus {
	border: 1px solid black;
}

#MainBar .ShortCuts {
	position: absolute;
	left: 0px;
	top: 0px;
}

#MainBar .Right.ShortCuts {
	right: 0px;
	top: 0px;
	left: auto;
	padding-right: 5px;
}

#MainBar .ShortCuts > img {
	margin-left: 5px;
	margin-top: 3px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#MainBar .ShortCuts > img:hover {
	border: 1px solid white;
}

#MainBar .Preview {
	position: absolute;
	height: 100px;
	bottom: 42px;
	z-index: 1000;
	display: none;
}

#MainBar .Preview h2 {
	text-align: center;
	margin-top:  30px;
}

#MainBar .Preview > .PreviewItem {
	background-color: white;
	border: 1px solid #CCCCCC;
	margin: 10px;
	height: 80px;
	width: 120px;
	position: relative;
	float: left;
}
#MainBar .Preview .Shadow {
	background-color: black;
	opacity: 0.2;
	filter: alpha(opacity=20);
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	-moz-box-shadow: 2px 2px 30px black;
	box-shadow: 2px 2px 30px black;
}





/* Modals */


.ModalContainer > .Darkness {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: black;
	opacity: 0.7;
	display: none;
	filter: alpha(opacity=70);
	z-index: 150;
}

.ModalContainer > .Modal {
	z-index: 150;
	position: fixed;
	top: 30%;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	display: none;
}

.ModalContainer > .Modal > .TitleBar {
	background-color: #2F60A5;
	height: 40px;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
}

.ModalContainer > .Modal > .TitleBar > h3 {
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	color: white;
}

.ModalContainer > .Modal > .Content {
	position: relative;
}

.ModalContainer > .Modal > .More > .Loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -12px;
	margin-top: -12px;
	text-align: center;
	display: none;
}



.ModalContainer > .Modal > .More {
	background-color: #2F60A5;
	position: relative;
	height: 40px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
}

.Modal form {
	padding: 5px;
	width: 200px;
	margin: auto;
}

.Modal form dl input {
	width: 180px;
}

.Modal form dl > * {
	padding: 2px;
}

.Modal form > p {
	text-align: right;
	padding: 5px;
	margin-right: 5px;
}

.Modal form > p.Message {
	text-align: center;
	color: red;
}




/* Process Window */

.Process.Window .Progress.Group {
	margin: 5px;
}

.Process.Window > .Content {
	position: relative;
}

.Process.Window {
	height: auto;
}


/* Progress Bar */

.Progress.Group {
	display: none;
}

.Progress.Group h5 {
	padding-bottom: 5px;
}

.Progress.Bar {
	height: 10px;
	border: 1px solid #999999;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: white;
}

.Progress.Bar .Loading {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 0%;
	background-color: #3D5F7E;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}

.Progress.Bar[context=local] .Loading {
	background-color: #4d8342;
}

/* Feedback */

.Window .Title .Feedback {
	position: absolute;
	right: 50px;
	font-size: 10px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-weight: normal;
}

.Window .Title .Feedback:hover {
	text-decoration: underline;
}

