
body {
	margin: 0px;
	padding: 0px;
	background-image: url(../images/portal/banner.jpg);
	background-color: #1a2d71;
	background-repeat: no-repeat;
	-webkit-background-size: 100% 552px;
	-o-background-size: 100% 552px;
	-moz-background-size: 100% 552px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	font-family: Tahoma, Verdana;
}

a img {
	border: 0px;
}

form img {
	display: none;
}

#Container {
	width: 900px;
	margin: auto;
	position: relative;
}

#Container .Logo {
	margin: 5px;
}

.Footer .Copyright {
	float: left;
}

.Footer .Links {
	float: right;
}

.Footer .Links a {
	text-decoration: none;
}

.Footer .Links a:hover {
	text-decoration: underline;
}

#Main {
	background-color: white;
	border: 1px solid #CCCCCC;
	-moz-box-shadow: 3px 3px 10px black;
}

#Image {
	float: left;
	margin: 20px;
	margin-left: 60px;
	width: 400px;
	background-color: black;
}

form {
	text-align: right;
	margin-top: 10px;
	margin-right: 10px;
}

.Welcome {
	text-align: right;
	position: relative;
	padding-bottom: 10px;
	padding-right: 20px;
	font-size: 12px;
}

.Welcome .Little {
	position: absolute;
	text-decoration: none;
	font-size: 10px;
	right: 20px;
	top: 20px;
}

.Welcome .Little:hover {
	text-decoration: underline;
}

.LogInForm span {
	position: relative;
	padding-bottom: 10px;
}

.LogInForm a {
	position: absolute;
	left: 2px;
	top: 20px;
}

form a {
	text-decoration: none;
	font-size: 10px;
}

form a:hover {
	text-decoration: underline;
}

.MainForm, .Panel {
	border: 1px solid #CCCCCC;
	width: 400px;
	padding: 10px;
	margin: 30px auto 30px auto;
	font-size: 12px;
}

.Large.MainForm, .Large.Panel {
	width: 600px;
}

.MainForm h2, .Panel h2 {
	font-size: 14px;
	border-bottom: 1px solid #CCCCCC;
	margin: 0px 10px 10px 0px;
	padding-bottom: 5px;
}

.MainForm .Message,
.Error.Message {
	border: 1px solid #ba4242;
	padding: 5px;
	font-size: 11px;
	background-color: #fbeaea;
}

.MainForm dt {
	width: 140px;
}

form input {
	font-size: 11px;
}

form input[type=text], 
form input[type=password],
form textarea {
	border: 1px solid #CCCCCC;
	width: 150px;
}

.Large form input[type=text],
.Large form input[type=password] {
	width: 200px;
}

.Large form textarea {
	width: 400px;
	height: 200px;
}

form h2 {
	font-size: 16px;
	padding-left: 30px;
	text-align: left;
}

.Index.SignInForm {
	border-left: 1px solid #CCCCCC;
	padding: 20px;
	float: right;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 20px;
}

form dt {
	font-size: 11px;
	display: block;
	float: left;
	clear: both;
	width: 100px;
	margin-top: 3px;
	text-align: right;
	line-height: 16px;
	height: 14px;
	border: 1px solid transparent;
}

form dd {
	margin-left: 5px;
	display: block;
	float: left;
	margin-top: 3px;
	width: 175px;
	text-align: left;
}

form dd img {
	float:right;
	margin-top: 2px;
}

.Footer {
	font-size: 11px;
	clear: both;
	color: #555555;
	border-top: 1px solid #CCCCCC;
	margin: 10px 20px 5px 20px;
	padding-top: 5px;
}

table.Layout {
	clear: both;
	width: 650px;
	margin: auto;
}

table.Layout td {
	vertical-align: top;
	width: 190px;
}

table.Layout td a {
	color: blue;
}

table.Layout td a:hover {
	text-decoration: underline;
}

table.Layout h3 {
	text-align: center;
}

table.Layout h3 a {
	color: black;
	text-decoration: none;
}

table.Layout h3 a:hover {
	text-decoration: underline;
}

table.Layout p {
	font-size: 12px;
	text-align: justify;
	padding: 5px 10px 5px 10px;
}

.LeftPanel {
	float: left;
	margin: 5px;
	margin-left: 40px;
	padding: 20px;
	width: 300px;
}

.LeftPanel h2,
.RightPanel h2 {
	font-size: 16px;
}

.LeftPanel p {
	font-size: 12px;
}

.LeftPanel h3 {
	font-size: 14px;
	border-bottom: 1px solid #CCCCCC;
	margin-left: 20px;
	margin-right: 20px;
}

.LeftPanel .Button {
	width: 140px;
	margin: auto;
	margin-top: 40px;
	background-image: url(../images/portal/button.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	border: 2px solid transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.LeftPanel .Button:hover {
	border-color: yellow;
}

.Add.LeftPanel {
	padding-top: 90px;
	padding-left: 50px;
}

.RightPanel {
	float: right;
	margin: 70px 150px 50px 5px;
	padding: 20px;
	padding-top: 5px;
	width: 200px;
	font-size: 12px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

.RightPanel h3 {
	font-size: 12px;
	border-bottom: 1px solid #CCCCCC;
}

.RightPanel dl {
	width: 90%;
	margin: auto;
}

.RightPanel dt {
	color: #555555;
	float: left;
	clear: both;
	margin-right: 2px;
	margin-top: 3px;
	width: 50px;
}

.RightPanel dd {
	float: left;
	margin-top: 3px;
	max-width: 95%;
}


.RightPanel .ItemContainer {
	width: 100px;
	margin: auto;
}

.Table {
	border-bottom: 1px solid #CCCCCC;
	margin: auto;
}

.Table td, .Table th {
	padding: 5px 10px 5px 10px;
}

.Table thead th {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}


div.Layout {
	font-size: 12px;
}

div.Layout h3 {
	padding-left: 20px;
}
